<%= form_for @usuario, url: {action: "create"} do |f| %>
    <% if @usuario.errors.any? %>
        <div #error_explanation >
          %h2= "#{pluralize(@usuario.errors.count, "error")} prohibited this usuario from being saved:"
          %ul
            - @usuario.errors.full_messages.each do |msg|
              %li= msg
        </div>
    <% end %>

    <%= f.label :documento, "CPF:" %>
    <%= f.text_field :documento, :required => true %>
  
    <%= f.label :nome, "Nome:"%>
    <%= f.text_field :nome %>
  
    <%= f.label :email, "E-mail:" %>
    <%= f.text_field :email %>
  
    <%= f.label :senha, "Senha: " %>
    <%= f.text_field :senha %>
  
    <% f.label :cidade, "Cidade: " %>
    <% f.select :cidade %>

    <%= f.submit "Cadastrar" %>
    
<% end %>
