%body
  %h1= "Cadastro de Doador"
  .separador2
  %form{ :action => "/usuario", :method => "post", :isInstituicao => false, :isPJ => false}
    %fieldset
      .categoriaForm
        %h2 Dados pessoais
        .separador
        .itemForm
          %label{:for => "nome"} Nome:
          %input{:name => "nome", :type => "text", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "email"} E-mail:
          %input{:name => "email", :type => "text", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "confemail"} Confirma e-mail:
          %input{:name => "confemail", :type => "email", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "documento"} CPF:
          %input{:name => "documento", :type => "number", :value => "", :class => "input"}/
        .separador2
        
      .categoriaForm
        %h2 Endereço
        .separador
        .itemForm
          %label{:for => "cep"} CEP:
          %input{:name => "CEP", :type => "number", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "log"} Logradouro:
          %input{:name => "log", :type => "text", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "num"} Numero:
          %input{:name => "num", :type => "number", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "comp"} Complemento:
          %input{:name => "comp", :type => "text", :value => "", :class => "input"}/
        .itemForm
          %label{:for => "uf"} Estado (UF):
          %select{:name => "uf", :class => "input"}
            %option{:value => 1}= "ES"
            %option{:value => 2}= "MG"
            %option{:value => 3}= "RJ"
            %option{:value => 4}= "SP"
        .itemForm
          %label{:for => "cidade"} Cidade:
          %input{:name => "cidade", :type => "text", :value => "", :class => "input"}/
        .separador2
            
        %input{ :type => "submit" , :class => "buttonForm", :value => "PRÓXIMO"} 