= form_for @doacao do |f|
  - if @doacao.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doacao.errors.count, "error")} prohibited this doacao from being saved:"
      %ul
        - @doacao.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.label :quantidade
    = f.number_field :quantidade
  .field
    = f.label :observacoes
    = f.text_field :observacoes
  .field
    = f.hidden_field :usuario_id, :value => Usuario.find_by(email: Usuario.find(session[:userLogedIn]).email).id
  .field
    = f.hidden_field :objeto_id, :value => params[:objeto_id]
  .actions
    = f.submit 'Doar'
