- if @doacaos 
  %h1 Doações Recebidas
  
  %table
    %thead
      %tr
        %th Usuario
        %th Objeto
        %th Quantidade
        %th Observacoes
        %th
        %th
        %th
  
    %tbody
      - @doacaos.each do |doacao|
        %tr
          %td= doacao.usuario.nome
          %td= doacao.objeto.nome
          %td= doacao.quantidade
          %td= doacao.observacoes
          %td= link_to 'Ver', doacao
  %br
