= form_for @usuario do |f|
  - if @usuario.errors.any?
    #error_explanation
    %h2= "#{pluralize(@usuario.errors.count, "error")} prohibited this usuario from being saved:"
    
    %ul
      - @usuario.errors.full_messages.each do |msg|
        %li= msg

  - if flash[:alert]
    %h2= flash[:alert]
  
 

  .form 
    %fieldset
      .categoriaForm     
        %h2 Dados do Usuário
        .separador
        .itemForm
          = f.label :documento, @usuario.isPJ ? "CNPJ" : "CPF", :class => "labela"
          = f.text_field :documento, :class => "inputa"
        .itemForm
          = f.label :nome, :class => "labela"
          = f.text_field :nome, :class => "inputa"
        .itemForm
          = f.label :email, "E-mail", :class => "labela"
          = f.email_field :email, :class => "inputa"
        .itemForm
          = f.label :senha, :class => "labela"
          = f.password_field :senha, :class => "inputa"
        .itemForm
          = label :senha_confirmation, "Confirmar senha",:class => "labela"
          = f.password_field :senha_confirmation, :class => "inputa"
          = f.hidden_field :isPJ, :value => @usuario.isPJ 
        .itemForm
          = label "estado","Estado", :class => "labela"
          = select_tag "estado", options_for_select(@estados), :class => "inputa" 
        .itemForm
          = f.label :cidade_id, :class => "labela"
          = f.select :cidade_id, options_for_select(@cidades), {:value => @usuario.cidade}, {:class => "inputa" }
        %div.div-submit-button
          = f.submit 'Finalizar', :class => "buttonForm"
