= form_for @usuario do |f|
  - if @usuario.errors.any?
    #error_explanation
      %h2= "#{pluralize(@usuario.errors.count, "error")} prohibited this usuario from being saved:"
      %ul
        - @usuario.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :documento
    = f.text_field :documento
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :senha
    = f.text_field :senha
  <!--.field-->
  <!--  = f.label :cidade-->
  <!--  = f.select :cidade-->
  .field
    = f.label :isPJ
    = f.check_box :isPJ
  .field
    = f.label :isInstituicao
    = f.check_box :isInstituicao
  .actions
    = f.submit 'Save'
