%h1 Usuários cadastrados

%table
  %thead
    %tr
      %th Documento
      %th Nome
      %th Email
      %th Cidade
      %th Empresa
      %th Instituicao
      %th
      %th
      %th

  %tbody
    - @usuarios.each do |usuario|
      %tr
        %td= usuario.documento
        %td= usuario.nome
        %td= usuario.email
        %td= usuario.cidade.nome
        %td= usuario.isPJ ? "Sim" : "Não"
        %td= usuario.isInstituicao ? "Sim" : "Não"
        %td= link_to 'Ver', usuario
        %td= link_to 'Editar', edit_usuario_path(usuario)
        %td= link_to 'Excluir', usuario, :method => :delete, :data => { :confirm => 'Confirmar exclusão?' }

%br

= link_to 'Cadastrar novo usuário', new_usuario_path
