
.separador1
.separador1
.separador
.separador1
%p
  %h1 
    = @usuario.nome
%p
  %h2
    = @usuario.email
.separador2
%p
- if @usuario.isPJ?
  %p
    %h2 
      CNPJ:
      = @usuario.documento

- if !@usuario.isPJ?
  %p
    %h2 
      CPF:
      = @usuario.documento
%p
  %h2
    = @usuario.cidade.nome
    = "-"
    = Estado.where(id: @usuario.cidade.estado.id).first.sigla

.separador2
.separador1
.separador1
%h3 Quer atualizar alguma informação?
.separador1
%a{:href => edit_usuario_path(@usuario)}    
  .button2
    .buttonlink EDITAR
.separador1      
.separador1

%form{ :controller => 'usuarios', :action => 'logoff', :method => 'post' }
  .categoriaForm
    %input{ :type => "submit" , :class => "buttonForm1", :value => "SAIR"}
  
