<%= form_for @usuario, url: {action: "create"} do |f| %>
    <div class="grupo1">
        <h2>Cadastro de usuarios - <%= @usuario.isPJ ? "Empresa" : "Pessoa Física"  %></h2>
    </div>
    <% if @usuario.errors.any? %>
        <div id="error_explanation">
            <h2> <%= pluralize(@usuario.errors.count, "error") %> usuario não pode ser salvo: </h2>
            <%= @usuario.errors.full_messages.each do |msg| %>
            <ul>
              <li></li> <%= msg %> </li>
            </ul>
            <% end %>
        </div>
    <% end %>
    <div class="grupo1">
        <%= f.label :documento, @usuario.isPJ ? "CNPJ:" : "CPF:" %>
        <%= f.text_field :documento, :required => true %>
    </div>
    <br>
    <div class="grupo1">
        <%= f.label :nome, "Nome:" %>
        <%= f.text_field :nome, :required => true %>
    </div>
    <br>
    <div class="grupo1">
        <%= f.label :email, "E-mail:" %>
        <%= f.email_field :email, :required => true %>
    </div>
    <br>
    <div class="grupo1">
        <%= f.label :senha, "Senha: " %>
        <%= f.password_field :senha, :required => true %>
    </div>
    <br>
    
    <div class="grupo1">
        <%= label "estado", "Estado:"%>
        <%= select_tag "estado", options_for_select(@estados), required: true %>
    </div>
    <br>
    
    <!-- Campo escondido para passar o valor que define se usuário é empresa como parâmetro do form -->
        <%= f.hidden_field :isPJ, :value => @usuario.isPJ  %>
    
    <div class="grupo1" id="div_cidades">
        <%= f.label :cidade_id, "Cidade: " %>
        <%= f.select :cidade_id, options_for_select(@cidades), required: true %>
    </div>
    <br>
    
    <div class="buttonlink">
        <%= f.submit "Cadastrar" %><br>
    </div>
<% end %>