<%= form_for @usuario, url: {action: "create"} do |f| %>
    <% if @usuario.errors.any? %>
        <div id="error_explanation">
            <h2> <%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved: </h2>
            <%= @usuario.errors.full_messages.each do |msg| %>
            <ul>
              <li></li> <%= msg %> </li>
            </ul>
            <% end %>
        </div>
    <% end %>

    <%= f.label :documento, "CPF:" %><br>
    <%= f.text_field :documento, :required => true %><br>
  
    <%= f.label :nome, "Nome:" %><br>
    <%= f.text_field :nome %><br>
  
    <%= f.label :email, "E-mail:" %><br>
    <%= f.text_field :email %><br>
  
    <%= f.label :senha, "Senha: " %><br>
    <%= f.text_field :senha %><br>
  
    <% cities_array = Cidade.all.map { |cidade| [cidade.nome, cidade.id] } %>

    <%= f.label :cidade_id, "Cidade: " %><br>
    <%= f.select(:cidade_id, options_for_select(cities_array)) %>
    <%= f.submit "Cadastrar" %><br>
    
<% end %>
