%p#notice= notice

%p
  %b Documento:
  = @usuario.documento
%p
  %b Nome:
  = @usuario.nome
%p
  %b Email:
  = @usuario.email
%p
  %b Senha:
  = @usuario.senha
%p
  %b Cidade:
  = @usuario.cidade.nome
%p
  %b Empresa:
  = @usuario.isPJ ? "Sim" : "Não"
%p
  %b Instituicao:
  = @usuario.isInstituicao ? "Sim" : "Não"

