%p#notice= notice
%p
- if @usuario.isPJ?
  %p
    %b CNPJ:
    = @usuario.documento

- if !@usuario.isPJ?
  %p
    %b CPF:
    = @usuario.documento
%p
  %b Nome:
  = @usuario.nome
%p
  %b Email:
  = @usuario.email
%p
  %b UF:
  = Estado.where(id: @usuario.cidade.estado.id).first.sigla
%p
  %b Cidade:
  = @usuario.cidade.nome
%p
  %b Tipo:
  = @usuario.isPJ ? "Empresa" : "Pessoa Física"

.separador2
  %h3 Quer atualizar alguma informação?
  %a{:href => edit_usuario_path(@usuario)}    
    .buttonbig
      .buttonlink EDITAR    
