%h1 Lista de Instituições

%table
  %thead
    %tr
      %th Área de atuação
      %th CNPJ
      %th Nome
      %th Email
      %th Cidade
      %th
      %th
      %th

  %tbody
    - @instituicaos.each do |instituicao|
      %tr{:style => 'height: 40px;'}
        %td= instituicao.area_atuacao.nome
        %td= instituicao.documento
        %td= instituicao.nome
        %td= instituicao.email
        %td= instituicao.cidade.nome
        %td= link_to 'Show', instituicao, {:class => 'show-instituicao buttonForm1'}

%br