.separador1
.separador1
.separador
.separador1
.itemObjeto
  .itemObjetoIcone
    -@imagem = "/images/logoinst.png"
    %img{:alt => "Doador Pessoa", :src => @imagem, :width => "90px"}/
  .itemObjetoNome
    %h1
      = @instituicao.nome
    .h2 
      = @instituicao.area_atuacao.nome
  .itemObjetoMeta
    %h2   
      = @instituicao.email
    .h3
      = @instituicao.cidade.nome
      = "-"
      = Estado.where(id: @instituicao.cidade.estado.id).first.sigla

.separador1
.separador1
.separador

%p
  %h2
    Objetos aceitos
.separador2
- @objetos = Objeto.where(instituicao_id: @instituicao.id).where.not(is_inativo: true)
- @objetos.each do |objeto|
  .itemObjeto
    .itemObjetoIcone
      -@imagem = "/images/catgs/catg" + objeto.categoria_objeto_id.to_s +  ".png"
      %img{:alt => "Doador Pessoa", :src => @imagem, :width => "90px"}/
    .itemObjetoNome
      %h1
        = objeto.nome
      .h2 
        = objeto.observacoes
    -if session[:isInstituicao]
      %a{:href => edit_objeto_path(@usuario)}    
        .itemObjetoBotao
          .buttonlink
            EXCLUIR
    -else
      %a{:href => new_doacao_path(:objeto_id => objeto)}  
        .itemObjetoBotao
          .buttonlink
            DOAR
    .itemObjetoMeta
      %h2
        Meta:
        = objeto.meta 
        = " "
        = objeto.unidade_medida
  .separador4
.separador1
.separador1