.separador1
.separador1
.separador
.separador1

%p
  %h1 
    = @instituicao.nome
%p
  %h2
    = @instituicao.email
.separador2
%p
  %h2 
    CNPJ:
    = @instituicao.documento
    %p
  %h2 
    Area de Atuação: 
    = @instituicao.area_atuacao.nome
%p
  %h2
    = @instituicao.cidade.nome
    = "-"
    = Estado.where(id: @instituicao.cidade.estado.id).first.sigla