!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Connect Donations
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    #header
      .logo
        %a{:href => "/home/index"}
          %img{:alt => "Logo", :border => "0", :height => "95", :src => "/images/logo1.png", :width => "95"}/
      -if !$isLogedIn
        %a{:href => "/home/index"}
          .linkheader
            .buttonlink
              HOME
      -elsif $isInstituicao
        %a{:href => "/home/home"}
          .linkheader
            .buttonlink
              HOME
      -else
        %a{:href => "/home/home"}
          .linkheader
            .buttonlink
              DOAR
      %a{:href => "/about/about"}      
        .linkheader  
          .buttonlink
            SOBRE
      .logoTexto
        %img{:alt => "Logo", :border => "0", :height => "75", :src => "/images/logotexto.png"}/  
      
      
      - if $isLogedIn 
        = render "/layouts/user"
      - else
        = render "/layouts/loginB"

      
    #midsection
      .separador1
      .animBottom
        = yield
    #footer
      .footerTexto
        Connect Donations - 2016

